

@media screen and (min-width: 400px) {
    body {
      background-color: rgb(115, 71, 238);
      font-size: 2.5em;
      color: rgb(39, 39, 39);  

    }
  }
  
  @media screen and (min-width: 600px) {
    body {
      background-color: rgb(233, 54, 81);
      font-size: 1.5em;
      color: aliceblue;

    }
  }
  